html {
  font-size: 10px;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

*, .fa {
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "palt";
}

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, YuGothic, sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
}

article {

  h1, h2, h3, h4, h5 {
    margin: 3em 0 0.5em;
    font-weight: 600;
    line-height: 1.25;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.0rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.36rem;
  }

  dl {
    dt {
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px;
      font-size: 1em;
    }
    dd {
      margin: 0 0 15px;
      padding: 0 0 0 15px;
      font-size: 0.9em;
    }
  }

  code {
    padding: .2em;
    margin: 0;
    background-color: #f7f7f7;
    &[class^="language-"] {
      font-size: .85em;
    }
  }

  pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0 0 1.275em;
    padding: .45em 1em;
    background-color: #f6f8fa;
    border-radius: 3px;
    code {
      background-color: transparent;
      display: block;
    }
  }

}

a {
  color: #4183c4;
  word-wrap: break-word;
  text-decoration: none;
}

a:visited {
  color: purple;
}

p, dd {
  line-height: 1.7;
}

code, kbd, pre, samp,
code[class*="language-"], pre[class*="language-"] {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
