.imageblock {
  &.no-shadow img {
    box-shadow: none;
  }
  &.full-width img {
    width: 100%;
  }
}

.listingblock {
  .title {
    font-size: 0.8em;
    color: #586069;
  }
}

.ulist {
  li > p {
    margin: 0;
  }
}

.dlist {
  dt code {
    font-style: normal;
  }
  dd > *:first-child {
    margin-top: 0;
  }
  .ulist > ul {
    margin-top: 0;
  }
}
