.imageblock {
  &.no-shadow img {
    box-shadow: none;
  }
}

.listingblock {
  .title {
    font-size: 0.8em;
    color: #586069;
  }
}

.ulist {
  li > p {
    margin: 0;
  }
}

.dlist .ulist > ul {
  margin-top: 0;
}
