html {
  font-size: 10px;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

*, .fa {
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "palt";
}

body {
  font-family: "YakuHanJP", Lato, 'Helvetica Neue', Arial, Helvetica, YuGothic, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.36rem;
}

a {
  color: #4183c4;
  word-wrap: break-word;
  text-decoration: none;
}

a:visited {
  color: purple;
}

p, dd {
  line-height: 1.5;
}

code, kbd, pre, samp,
code[class*="language-"], pre[class*="language-"] {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
