.imageblock {
  &.no-shadow img {
    box-shadow: none;
  }
  &.full-width img {
    width: 100%;
  }
  + .imageblock {
    margin-top: 2em;
  }
}

.quoteblock {
  position: relative;
  margin-bottom: 1em;
  color: rgba(0,0,0,.6);
  padding: 2rem;
  background-color: #fdfdfe;
  border-top: 1px solid #f6f8fa;
  border-bottom: 1px solid #eff3f6;
  &:before {
    content: "\201c";
    position: absolute;
    font-size: 6rem;
    line-height: 1;
    top: 0;
    font-family: serif;
    color: #ddd;
  }
  blockquote {
    padding-left: 1em;
    margin: 0 0 0 2em;
    font-size: 1.6rem;
    font-style: italic;
    border: 0;
  }
  .paragraph p:last-child {
    margin-bottom: 0;
  }
  .attribution {
    text-align: right;
    font-size: 1.4rem;
    font-style: italic;
  }
}

.listingblock {
  .title {
    font-size: 0.8em;
    color: #586069;
  }
}

.ulist {
  li > p {
    margin: 0;
  }
}

.dlist {
  dt code {
    font-style: normal;
  }
  dd > *:first-child {
    margin-top: 0;
  }
  .ulist > ul {
    margin-top: 0;
  }
}

.tableblock {
  p.tableblock {
    margin: 0;
  }
}

span {
  &.aqua { color: aqua; }
  &.black { color: black; }
  &.blue { color: blue; }
  &.fuchsia { color: fuchsia; }
  &.gray { color: gray; }
  &.green { color: green; }
  &.lime { color: lime; }
  &.maroon { color: maroon; }
  &.navy { color: navy; }
  &.olive { color: olive; }
  &.purple { color: purple; }
  &.red { color: red; }
  &.silver { color: silver; }
  &.teal { color: teal; }
  &.white { color: white; }
  &.yellow { color: yellow; }

  &.aqua-background { background: aqua; }
  &.black-background { background: black; }
  &.blue-background { background: blue; }
  &.fuchsia-background { background: fuchsia; }
  &.gray-background { background: gray; }
  &.green-background { background: green; }
  &.lime-background { background: lime; }
  &.maroon-background { background: maroon; }
  &.navy-background { background: navy; }
  &.olive-background { background: olive; }
  &.purple-background { background: purple; }
  &.red-background { background: red; }
  &.silver-background { background: silver; }
  &.teal-background { background: teal; }
  &.white-background { background: white; }
  &.yellow-background { background: yellow; }
}
