*, .fa {
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5 {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, YuGothic, sans-serif;
}

#global {
  display: flex;
}

#gSide {
  width: 20rem;
  background-color: #fafafa;
  border-right: 1px solid rgba(0,0,0,.07);

  a {
    color: #364149;
    &:hover {
      color: #008cff;
    }
  }
}

#gHead {
  padding: 8px 15px;
}

#gMenu {
  .title {
    margin: 20px 0 0;
    padding: 8px 15px;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0 0 0 20px;
  }

  .menu-link {
    display: block;
    padding: 8px 15px;
  }
}

#gBody {
  flex: 1;

  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 8px;
    color: #ccc;
  }
}

#article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 40px;
  font-size: 16px;

  .title {
    margin-bottom: 4em;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
    .b-title {
      margin-top: .5em;
      font-size: 1.2rem;
      color: #aaa;
    }
    .r-title {
      margin: 0;
    }
  }

  h3 {
    color: #666;
  }

  img {
    display: block;
    margin: 0 auto 2rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
  }

  li {
    line-height: 1.7;
  }

  code {
    padding: .2em;
    margin: 0;
    font-size: .85em;
    background-color: #f7f7f7;
  }

  pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0 0 1.275em;
    padding: .85em 1em;
    background: #f7f7f7;
  }
}
