*, .fa {
  -webkit-font-smoothing: antialiased;
}

#global {
  display: flex;
}

#gSide {
  min-width: 20rem;
  background-color: #fafafa;
  border-right: 1px solid rgba(0,0,0,.07);

  a {
    color: #364149;
    &:hover {
      color: #008cff;
    }
  }
}

#gHead {
  padding: 8px 15px;
}

#gMenu {
  .title {
    margin: 20px 0 0;
    padding: 8px 15px;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0 0 0 20px;
  }

  .menu-link {
    display: block;
    padding: 8px 15px;
  }
}

#gBody {
  flex: 1;

  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 8px;
    color: #ccc;
  }
}

#article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 40px;

  .title {
    margin-bottom: 4em;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
    .b-title {
      margin-top: .5em;
      font-size: 1.2rem;
      color: #aaa;
    }
    .r-title {
      margin: 0;
    }
  }
}
