header {
  background: #38a1d6;
  background: -webkit-linear-gradient(0deg,#38a1d6 0,#16f4d0 100%);
  background: linear-gradient(90deg,#38a1d6 0,#16f4d0 100%);

  h1 {
    margin-top: 0;
    color: #fff;
  }
}

.container {
  max-width: 800px;
}

h1 {
  color: #16f4d0;
}
