header.meta
  .left
    a.logo(href="#{site.basepath}/")
      h1= site.name
  .right
    - var repo = 'https://github.com/syon/refills/commits/master/src/refills'
    - var binder = repo + "/" + bid + "/"
    - var gh_url = rid ? binder + rid + ".md" : binder + "/index.md"
    a(href=gh_url target="_blank")
      span.date= date
