doctype html
html(lang="ja")
  head
    block head
      block title_ogp
      meta(charset="utf-8")
      meta(name="viewport" content="initial-scale=1, width=device-width")
      link(rel="stylesheet" href="#{site.basepath}/assets/vendor/octicons/octicons.min.css")
      link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Italianno|Lato:400,700,900|Merriweather:400,400italic,700,700italic")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
      link(rel="stylesheet" href="#{site.basepath}/assets/bundle.css")
    include analytics.jade
  body
    block body
