doctype html
html
  head
    block head
      block title
        title= title ? title + " | " + site.name : site.name
        link(rel="stylesheet" href="/assets/vendor/primer.css")
        link(rel="stylesheet" href="/assets/vendor/octicons/octicons.css")
        link(rel="stylesheet" href="/assets/vendor/prism.css")
  body
    block body
      block main
