each binder in summary
  a(href="#{site.basepath}/#{binder.info.bid}/")
    h4.title
      = binder.info.title
  ul
    each rid in binder.info.rids
      - var r = binder.refills[rid]
      li
        a.menu-link(href="#{site.basepath}/#{binder.info.bid}/#{rid}/")= r.title
