extends layout

block main
  .container
    .columns
      .one-fourth.column
        span one-fourth
      .three-fourths.column
        article#article
          p.meta.text-right
            span.rid= rid
            span.date= date
          div!= contents
