---
bid: data-backup
title: バックアップ
layout: binder.jade
---

.one-fourth.column
  nav.menu
    a.menu-item.selected.link-binder-top TOP
    a.menu-item(data-rid="o1rth0") バックアップの必要性
    a.menu-item(data-rid="o1rxfo") バックアップ対象の分別
    a.menu-item(data-rid="1234569") リフィル３
    a.menu-item(data-rid="123456a") リフィル４

.three-fourths.column
  .rid= rid
  .binder-top
    :markdown
      ## バックアップ

  article#results
