---
bid: data-backup
title: バックアップ
layout: binder.jade
---

.one-fourth.column
  nav.menu
    a.menu-item.selected.link-binder-top TOP
    a.menu-item(data-rid="o1rth0") バックアップの必要性
    a.menu-item(data-rid="o1rxfo") バックアップするもの
    a.menu-item(data-rid="o1rzjb") バックアップ計画
    a.menu-item(data-rid="1234569") 操作ミス対策
    a.menu-item(data-rid="123456a") 故障対策
    a.menu-item(data-rid="123456a") 紛失対策
    a.menu-item(data-rid="123456a") 災害対策
    a.menu-item(data-rid="o1rytc") クラウド停止対策
    a.menu-item(data-rid="o1s273") 1Password

.three-fourths.column
  .rid= rid
  .binder-top
    :markdown
      ## バックアップ

  article#results
