---
bid: metalsmith
title: Metalsmith
layout: binder.jade
---

.one-fourth.column
  nav.menu
    span.menu-heading
      span.octicon.octicon-repo
      = title
    a.menu-item(data-rid="dummy") 『Metalsmith』とは
    a.menu-item(data-rid="dummy") プラグインの紹介
    a.menu-item(data-rid="dummy") 導入事例と解説

.three-fourths.column
  .rid= rid
  article#results
